# model weights
*.pt

# datasets
train/
val/
test/
train_masks/
val_masks/
dat_patch/
dat/
HQSeg_res/
dis5k_plots/
rejected_patches_plots/
val_old/
val_masks_old/
test_masks/
rejected_test_patches/


